.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
label{
    font-size: 20px;
    font-weight: bold;
}
.onFalse{
    width: 300px;
    height: 30px;
    border-radius: 10px;
   border:2px solid  red;
  
}
.onTrue{
    width: 300px;
    height: 30px;
    border-radius: 10px;
   border:2px solid  green;
}
.onfocus:focus{
    border-color: rgb(85, 85, 230);
}
span{
    color:red
}
.btn{
   display: flex;
   width: 100%;
   justify-content:center;
   margin-top: 22px;
}
button{
    width: 120px;
    height: 30px;
    background-color: rgb(88, 88, 173);
    color: white;
    border: none;
    border-radius: 4px;
}
button:hover{
    background-color: rgb(62, 62, 166);
}